# AWS S3 Configuration
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_BUCKET_NAME=shopflow-data-lake
AWS_REGION=eu-west-2

# S3 Data Path
S3_DATA_PATH=s3://shopflow-data-lake/raw/

# Dagshub MLflow (Team 3 will update this on Day 2)
MLFLOW_TRACKING_URI=https://dagshub.com/your-username/shopflow-mlflow.mlflow
MLFLOW_TRACKING_USERNAME=your-dagshub-username
MLFLOW_TRACKING_PASSWORD=your-dagshub-token

# API URLs (Team 3 will update these on Day 8)
CHURN_API_URL=http://localhost:8001
REC_API_URL=http://localhost:8002
